
@font-face {
    font-family: 'Phetsarath OT';
    src: url('../fonts/Saysettha_OT.eot');
    src: url('../fonts/Saysettha_OT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Saysettha_OT.woff2') format('woff2'),
    url('../fonts/Saysettha_OT.woff') format('woff'),
    url('../fonts/Saysettha_OT.ttf') format('truetype'),
    url('../fonts/Saysettha_OT.svg#Phetsarath_OT') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Saysettha OT';
}



body {
    background: white;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.navbar{
    margin-top: 0px;
}
.mycarousel{
    margin-right: 1%;
    margin-left: 1%;

}


.card{
      margin-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
  }
.card .img-responsive{
    margin-top: 5px;
}







/*In index file*/
.mainConten{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.leftside{
    position: absolute;
}
.content{
    margin-left: 1%;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 3%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .img-responsive{
    width: 100%;
    height: 100%;
    margin-bottom: 2%;

}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 18%;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}

.hovereffect .btn {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.6);*/
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: #5bc0de;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect .btn,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover .btn,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect:hover .btn {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.adverting-product{
    border: inherit;
    box-shadow: 1px 1px 1px 1px #5bc0de ;
    margin-top: 3%;
}
.adverting-product .adverting-product-content{
    margin-left: 1%;
    margin-right: 1%
}


/*End index file*/


@media screen and (min-width: 1140px) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

@media screen and(min-width: 960px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media screen and(min-width: 720px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and(min-width: 540px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media screen and(min-width: 400px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;

}

.thumbnail img {
    width: 100%;
}
    @media screen and (max-width: 540px){
        .swiper-slide .thumbnail .caption .producttitle{
            font-size: 12px;
    }
        .swiper-slide .thumbnail .caption .producttext{
            font-size: 10px;
        }
}
.swiper-container {
    width: 95%;
    height: auto;
    border: 1px ;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #1c7430;
    /*box-shadow: 2px 2px 10px 2px #0c5460;*/
}
.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.thumbnail{
    width: 100%;
    /*box-shadow: 1px 1px 2px 2px #1e7e34;*/
}
.thumbnail .ns-img {
    margin-top: 5px;
}
.productImage{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-right: 2%
}


/* this is in productdetail file controll*/
.productdetail{
    font-family: 'Saysettha OT';
}
.productName{
    margin-left: 1%;

}

/*Following is zoo image in productdetail's css*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modzzal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}




/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*  This is description and rule in productdetail style */
.tab-content .tab-pane{
    background-color: white;
}



/*Dropdown*/
.dropbtn {

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: coral;
}



/*Footer*/
.footer{
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 1%;
}



/*backEnd*/

table tr td {
    text-align: center;
}
.div_in_td{
    width: 150px
}

/*!*Menu list and Submenu*!*/
/**{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/
/*.testDropdown ul {*/
    /*list-style: none;*/
/*}*/
/*.testDropdown ul li {*/
    /*background-color: #1e7e34;*/
    /*width: 150px;*/
    /*border: 1px solid white;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*float: left;*/
    /*color: white;*/
    /*position: relative;*/
/*}*/
/*.testDropdown ul li:hover {*/
    /*background-color: #BCD42A;*/
/*}*/
/*.testDropdown ul ul {*/
    /*display: none;*/
/*}*/
/*.testDropdown ul ul li{*/
    /*padding:2%;*/
    /*text-align: left;*/
/*}*/
/*.testDropdown ul li:hover > ul {*/
    /*display: block;*/
/*}*/
/*.testDropdown ul ul ul {*/
    /*position: absolute;*/
    /*margin-left: 145px;*/
    /*top: 0px;*/
/*}*/
.dropdown-menu{
    width: 100%;
}
.mymenu ul .main-li:hover{
    background-color: #BCD42A;
    box-shadow: 1px 1px 1px 1px #80bdff;
    border-radius: 50px;

}
.mymenu ul ul li:hover{
    background-color: whitesmoke;

}
.dropdown-menu .nav-item .nav-link{
    color: #1b1e21;
}
.dropdown-menu .nav-item .nav-link:hover{
    color: #1b1e21;

}
ul.nav li:hover > ul.dropdown-menu{
    display: block;

}
.dropdown-sub-menu {
   position: relative;
}
.dropdown-sub-menu > .dropdown-menu{
    top: 0px;
    left: 100%;
}
.dropdown-menu > a:after{
    border-style: solid;
    border-color: transparent transparent transparent #333;
    border-width: 1px 1px 1px 1px ;
}

.Admin_them{
    border-radius: 5px;
    margin-bottom: 3%;
    height: auto;
    background-color: #EEEEEE;
}
.Admin_them:hover{
    border-radius: 0px;
   background-color: white;
    box-shadow: 5px 5px 15px 1px #c8cbcf;
    transition: all 0.5s ease 0.1s;
}
.Admin_them_title{
    margin-left: 5%;
}